SQLSERVER_HOST=localhost
SQLSERVER_PORT=1433
SQLSERVER_DATABASE=CustomerSales
SQLSERVER_USER=sa
SQLSERVER_PASSWORD=YourStrong!Passw0rd
SQLSERVER_DRIVER=ODBC Driver 18 for SQL Server
SQLSERVER_ENCRYPT=yes
SQLSERVER_TRUST_CERTIFICATE=yes

PIPELINE_SCHEDULE_TIME=06:00
RUN_PIPELINE_ON_STARTUP=true

PATH_CRM_CUST_INFO=datasets/cust_info.csv
PATH_CRM_SALES_DETAILS=datasets/sales_details.csv
PATH_CRM_PRD_INFO=datasets/prd_info.csv
PATH_ERP_CUST_AZ12=datasets/CUST_AZ12.csv
PATH_ERP_LOC_A101=datasets/LOC_A101.csv
PATH_ERP_PX_CAT_G1V2=datasets/PX_CAT_G1V2.csv
