SQLSERVER_HOST=localhost
SQLSERVER_PORT=1433
SQLSERVER_DATABASE=DataWarehouse
SQLSERVER_USER=sa
SQLSERVER_PASSWORD=YourStrong!Passw0rd
SQLSERVER_DRIVER=ODBC Driver 18 for SQL Server
SQLSERVER_ENCRYPT=yes
SQLSERVER_TRUST_CERTIFICATE=yes

PIPELINE_SCHEDULE_TIME=06:00
RUN_PIPELINE_ON_STARTUP=true

PATH_CRM_CUST_INFO=data_files/cust_info.csv
PATH_CRM_SALES_DETAILS=data_files/sales_details.csv
PATH_CRM_PRD_INFO=data_files/prd_info.csv
PATH_ERP_CUST_AZ12=data_files/CUST_AZ12.csv
PATH_ERP_LOC_A101=data_files/LOC_A101.csv
PATH_ERP_PX_CAT_G1V2=data_files/PX_CAT_G1V2.csv
