Package                Version
---------------------- -----------
Faker                  38.0.0
mysql-connector-python 8.0.33
numpy                  2.3.5
pandas                 2.3.3
pip                    25.3
protobuf               3.20.3
python-dateutil        2.9.0.post0
python-dotenv          1.2.1
pytz                   2025.2
schedule               1.2.2
setuptools             65.5.0
six                    1.17.0
tzdata                 2025.2
